/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#container
{
    margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;
    width: 680px; height: auto;
    border-right: 1px solid black; border-left: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black;
}

#topbar
{
    float:right;
}

#menu
{
    clear: both;
}


/*[href="#maincontent"]
{
    display:0px;
    font-size:0px;
    padding:0px;
    margin:0px;
}*/

#menu ul a
{
float:left;
width:6em;
text-decoration:none;
color:white;
background-color:purple;
padding:0.3em;
border-right:1px solid white;
text-align:center;
}

#content
{
    margin: 10px;
}

#maincontent
{
    float:left;
    width: 450px;
    margin-top: 20px;
    border-right: 1px;
    border-left:0px;
    border-top:0px;
    border-bottom:0px;
    border-style: dashed;
}

#subcontent
{
    float:left;
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
}

#bottomcontent
{
    clear:both;
}

ul
{
    list-style-type: none;
}